body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.book-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18.25rem, 1fr));
	gap: 0.625rem;
	padding: 0.625rem;
	max-width: 75rem;
	margin: 0 auto;
}

.book-card img,
#book-details-container img {
	width: 100%;
	max-width: 18.25rem;
	height: 25rem;
	background-color: #f0f0f0;
	display: block;
}

.hidden {
	display: none !important;
}

.genre-button {
	padding: 0.375rem 0.75rem;
	margin: 0.375rem 0.125rem;
	cursor: pointer;
	background-color: #f8f9fa;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 0.3125rem;
	transition: all 0.2s;
}

.genre-button.active {
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #007bff;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #fff;
	padding: 1.25rem;
	border-radius: 0.5rem;
	width: 60%;
	max-width: 37.5rem;
	max-height: 80vh;
	overflow-y: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
}

.close-btn {
	position: absolute;
	top: 0.5625rem;
	right: 0.5625rem;
	font-size: 1.4375rem;
	font-weight: bold;
	color: #222;
	transition: 0.3s;
	cursor: pointer;
	line-height: 1;
}

.close-btn:hover{
	color: #444;
}