body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.book-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	gap: 30px;
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

img {
	width: 300px;
	height: 400px;
}

.hidden {
	display: none !important;
}

.genre-button {
	padding: 6px 12px;
	margin: 6px 2px;
	cursor: pointer;
	background-color: #f8f9fa;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: all 0.2s;
}

.genre-button.active {
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #007bff;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}