body {
	margin: 0;
	padding: 0;
}

#book-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 20px;
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

img {
	width: 100%;
	height: 400px;
}

.hidden {
	display: none !important;
}